/data-bak/
.idea/
.claude/
build/
.gradle/
.kotlin/

# Distribution files
docs/

# Shadow JAR and Launch4j
*.exe

/data/
local.properties
/android/app/release/
/frontend/dist/
/frontend/node_modules/
